
<p>Hi</p>
<p> We are in urgent requirement of <%= BloodGroup.find(@data["blood_group_id"]).name %>  for state <%= State.find(@data["state_id"]).name %>for the district <%= District.find(@data["district_id"]).name %>  in the locality <%= Locality.find(@data["locality_id"]).name %> 

