<div class="pageheader">
        <h2><%= @district.name.capitalize %></h2><br/>
</div>

<div class="thumbnail">


    <% flag = 0 %>

      <% BloodGroup.all.each do |bloodgroup| %>
      <b><%= bloodgroup.name %></b>
      <table>
        <thead class="table table-bordered">
          <tr>
            <th>Component Type</th>
            <th>Total Stocks</th>
          </tr>
        </thead>
        <tbody>
          <% ComponentType.all.each do |comp| %>
              <tr>
              <% @district.blood_banks.each do |bloodbank| %>
              <% @total =  bloodbank.blood_availabilities.where('component_type_id = ?', comp.id).pluck(:total_stocks)%>

              <td><%= comp.name%></td>
              <td><%= @total[flag] %></td>
              </tr>
          <% end %>
          <% end %>
        </tbody>  
      </table>
    <% flag += 1 %>
     <%end%>
  
</div>
